.container {
    border: 2px solid cadetblue;
    height: 500px;
    display: flex;
    
}

.box {
    border: 1px solid seagreen;
    width: 200px;


}

#box2 {
    flex-grow: 1;
    
}
nav  {
    display: flex;
    justify-content: space-between;
}
.login-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
nav  a {
    text-decoration: none;
    color: black;
    margin-right: 10px;

}
#box2 .login{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    text-align: center;

}
#box2 .login input {
    padding: 5px ;
    text-align: center;
    font-weight: 700;
    margin-top: 5px;
}